#pop-up {
  display: none;
  text-align: center;
  align-self: center;
  width: 75%;
  height: 100%;
  background-color: $grey;
  border-radius: 5px;
  z-index: 998
}
#close {
  position: absolute;
  display: none;
  top: 75%;
  left: 62%;
  z-index: 999
}
.none {
  display: none;
}
.all {
  display: inline-block;
}
