#pop-up {
  display: none;
  text-align: center;
  align-self: center;
  width: 75%;
  height: 100%;
  background-color: $grey;
  border-radius: 5px;
  z-index: 999
}
#close {
  position: relative;
  display: none;
  top: 75%;
  left: 50%;
}
